<!DOCTYPE html>  
<html>  
<head>  
    <title>Add book</title>
</head>  
<body>  
    <h2>Books Information</h2>
      
    <form action = "/save" method="post">
    <table>  
        <tr><td>Book Name</td><td><input type="text" name="title"></td></tr>
        <tr><td>Price</td><td><input type="text" name="price"></td></tr>
        <tr><td>Author</td><td><input type="text" name="author"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>  
    </form>  
</body>  
</html>  